{% extends "orders/base.html" %}

{% load bootstrap4 %}
{% block content %}
<div class = "container">
  <style>
 .row > div {
    margin-top:10px;
    padding: 20px;
    outline: 2px solid #ccc;
    outline-offset: -10px;
    -moz-outline-radius: 10px;
    -webkit-outline-radius: 10px;
 }
</style>
{% for order in orders %}
  <h1>-------------------------------------------</h1>
      <p>ID of customer: {{ order.user.username }}</p>
      <p>Order id: {{ order.id }}</p>
      <h3>Regular Pizza</h3>
      {% for item in order.regular_dish.all %}
      
          <div class = "row">
		  <div class="col-md-3"> Regular {{ item.name }} </div>
		  {% if  item.size %} <div class="col-md-3"> Large </div>
		  {% else %} <div class="col-md-3"> Small </div>
		  {% endif %}
		  <div class="col-md-3"> {% for elem in item.toppings.all %} 
			  <li> {{ elem.name }} </li>
		       {% endfor %}
		  </div>
		  <div class="col-md-3"> {{ item.price }} </div> 
          </div>
      {% endfor %}
    
    <h3>Sicilian Pizza</h3>
      {% for item in order.sicilian_dish.all %}
      
          <div class = "row">
		  <div class="col-md-3"> Sicilian {{ item.name }} </div>
		  {% if  item.size %} <div class="col-md-3"> Large </div>
		  {% else %} <div class="col-md-3"> Small </div>
		  {% endif %}
		  <div class="col-md-3"> {% for elem in item.toppings.all %} 
			  <li> {{ elem.name }} </li>
		       {% endfor %}
		  </div>
		  <div class="col-md-3"> {{ item.price }} </div> 
          </div>
      {% endfor %}
    
    <h3>Subs</h3>
      {% for item in order.subs0_dish.all %}
      
	  <div class = "row">
          <div class="col-md-3">
              {{ item.name }}
          </div>
		  {% if  item.size %} <div class="col-md-3"> Large </div>
		  {% else %} <div class="col-md-3"> Small </div>
		  {% endif %}
		  {% if item.Xcheese %} <div class="col-md-3"> Extra Cheese </div>
		  {% else %} <div class="col-md-3"> No Cheese </div>
		  {% endif %}
	  <div class="col-md-3">
	      {{ item.price }}
	  </div>
    </div>
      {% endfor %}
     
    <h3>Pasta</h3>
      {% for item in order.pasta_dish.all %}
      
          <div class = "row">
		  <div class="col-md-3">  {{ item.name }} </div>
		  <div class="col-md-3">  {{ item.SmallPrice }} </div>
          </div>
        
      {% endfor %}
    <h3>Salads</h3>
      {% for item in order.salad_dish.all %}
      
          <div class = "row">
		  <div class="col-md-3">  {{ item.name }} </div>
		  <div class="col-md-3">  {{ item.SmallPrice }} </div>
          </div>
        
      {% endfor %}
    <h3>Dinner Platter</h3>
      {% for item in order.dinnerplatter_dish.all %}
      
          <div class = "row">
		  <div class="col-md-3">  {{ item.name }} </div>
		  {% if  item.size %} <div class="col-md-3"> Large </div>
		  {% else %} <div class="col-md-3"> Small </div>
		  {% endif %}
		  <div class="col-md-3">  {{ item.price}} </div>
          </div>
        
      {% endfor %}
      <h3>Total: {{ order.price }}</h3>
{% endfor %}

{% endblock %}
