{% extends "orders/base.html" %}

{% load bootstrap4 %}
{% block content %}
<div class = "container">
  <style>
 .row > div {
    margin-top:10px;
    padding: 20px;
    outline: 2px solid #ccc;
    outline-offset: -10px;
    -moz-outline-radius: 10px;
    -webkit-outline-radius: 10px;
 }
</style>
<h1>Hello, {{ user.first_name }}</h1>
    <p>Currently logged in as: {{ user.username }}</p>
    <p>Order id: {{ order_id }}</p>
    {% if regular_pizza|length != 0 %}
    <h3>Regular Pizza</h3>
      {% for item in regular_pizza %}
      
          <div class = "row">
		  <div class="col-md-3"> Regular {{ item.name }} </div>
		  {% if  item.size %} <div class="col-md-3"> Large </div>
		  {% else %} <div class="col-md-3"> Small </div>
		  {% endif %}
		  <div class="col-md-3"> {% for elem in item.toppings.all %} 
			  <li> {{ elem.name }} </li>
		       {% endfor %}
		  </div>
		  <div class="col-md-3"> {{ item.price }} </div> 
          </div>
      {% endfor %}
    
    {% endif %}
    {% if sicilian_pizza|length != 0 %}
    <h3>Sicilian Pizza</h3>
      {% for item in sicilian_pizza %}
      
          <div class = "row">
		  <div class="col-md-3"> Sicilian {{ item.name }} </div>
		  {% if  item.size %} <div class="col-md-3"> Large </div>
		  {% else %} <div class="col-md-3"> Small </div>
		  {% endif %}
		  <div class="col-md-3"> {% for elem in item.toppings.all %} 
			  <li> {{ elem.name }} </li>
		       {% endfor %}
		  </div>
		  <div class="col-md-3"> {{ item.price }} </div> 
          </div>
      {% endfor %}
    
    {% endif %}
    {% if sub|length != 0 %}
    <h3>Subs</h3>
      {% for item in sub %}
      
	  <div class = "row">
          <div class="col-md-3">
              {{ item.name }}
          </div>
		  {% if  item.size %} <div class="col-md-3"> Large </div>
		  {% else %} <div class="col-md-3"> Small </div>
		  {% endif %}
		  {% if item.Xcheese %} <div class="col-md-3"> Extra Cheese </div>
		  {% else %} <div class="col-md-3"> No Cheese </div>
		  {% endif %}
	  <div class="col-md-3">
	      {{ item.price }}
	  </div>
		</div>
      {% endfor %}
     
     {% endif %}
     {% if pasta|length != 0  %}
    <h3>Pasta</h3>
      {% for item in pasta %}
      
          <div class = "row">
		  <div class="col-md-3">  {{ item.name }} </div>
		  <div class="col-md-3">  {{ item.SmallPrice }} </div>
          </div>  
      {% endfor %}
      
      {% endif %}
      {% if salad|length != 0 %} 
    <h3>Salads</h3>
      {% for item in salad %}
      
          <div class = "row">
		  <div class="col-md-3">  {{ item.name }} </div>
		  <div class="col-md-3">  {{ item.SmallPrice }} </div>
          </div> 
      {% endfor %}
      
      {% endif %}
      {% if dinner_platter|length != 0 %}
    <h3>Dinner Platter</h3>
      {% for item in dinner_platter %}
      
          <div class = "row">
		  <div class="col-md-3">  {{ item.name }} </div>
		  {% if  item.size %} <div class="col-md-3"> Large </div>
		  {% else %} <div class="col-md-3"> Small </div>
		  {% endif %}
		  <div class="col-md-3">  {{ item.price}} </div>
          </div> 
      {% endfor %}
      
      {% endif %}

    <h3>Total: {{ total }}</h3>
    {% if total != 0.0 %}
      <h2><a href="{% url 'view' order_id %}">Confirm Order</a></h2>
    {% endif %}
{% endblock %}
