
{% extends "orders/base.html" %}

{% block content %}
<ul>
    <h3>Regular Pizza</h3>
    <table>
      {% for item in RegularPizza %}
      <tr>
	      <td>  {{ item.name }}  </td>
	      <td> Small {{ item.SmallPrice }} </td>
	      <td> Large {{ item.LargePrice }} </td>
      </tr>
      {% endfor %}
    </table>
    <h3>Sicilian Pizza</h3>
    <table>
      {% for item in SicilianPizza %}
      <tr>
	      <td>  {{ item.name }}  </td>
	      <td> Small {{ item.SmallPrice }} </td>
	      <td> Large {{ item.LargePrice }} </td>
      </tr>
      {% endfor %}
    </table>
    <h3>Subs</h3>
    <p> Extra Cheese on any item costs extra $0.50 </p>
    <table>
      {% for item in Sub %}
      <tr>
	      <td>  {{ item.name }}  </td>
	      {% if item.SmallPrice != None %}
	      <td> Small {{ item.SmallPrice }} </td>
	      {% endif %}
	      {% if item.LargePrice != None %}
	      <td> Large {{ item.LargePrice }} </td>
	      {% endif %}
      </tr>
      {% endfor %}
    </table>
    <h3>Pasta</h3>
    <table>
      {% for item in Pasta %}
      <tr>
	      <td>  {{ item.name }} </td>
	      <td> {{ item.SmallPrice }} </td>
      <tr>
      {% endfor %}
    </table>
    <h3>Salads</h3>
    <table>
      {% for item in Salad %}
      <tr>
	      <td>  {{ item.name }}  </td>
	      <td> {{ item.SmallPrice }} </td>
      <tr>
      {% endfor %}
    </table>
    <h3>Dinner Platter</h3>
    <table>
      {% for item in DinnerPlatter %}
      <tr> 
	      <td> {{ item.name }} </td>
	      <td>  Small  {{item.SmallPrice}} </td>
	      <td>  Large  {{item.LargePrice}} </td>
      </tr>
      {% endfor %}
      </table>

</ul>
{% endblock %}
