{% extends "orders/base.html" %}

{% load bootstrap4 %}
{% block content %}
<div class = "container">
  <style>
 .row > div {
    margin-top:10px;
    padding: 20px;
    outline: 2px solid #ccc;
    outline-offset: -10px;
    -moz-outline-radius: 10px;
    -webkit-outline-radius: 10px;
 }
</style>
<h1>Hello, {{ user.first_name }}</h1>
    <p>Currently logged in as: {{ user.username }}</p>
    <p>Order id: {{ order_id }}</p>
    <h3>Regular Pizza</h3>
      {% for item in RegularPizza %}
    <div class = "row">
	      <div class="col-md-4"> <a href="{% url 'regular_pizza' order_id=order_id dish_id=item.id %}" > {{ item.name }} </a> </div>
	      <div class="col-md-4"> Small {{ item.SmallPrice }} </div>
	      <div class="col-md-4"> Large {{ item.LargePrice }} </div>
    </div>
      {% endfor %}
    <h3>Sicilian Pizza</h3>
      {% for item in SicilianPizza %}
    <div class = "row">
	      <div class="col-md-4"> <a href="{% url 'sicilian_pizza' order_id=order_id dish_id=item.id %}" > {{ item.name }} </a> </div>
	      <div class="col-md-4"> Small {{ item.SmallPrice }} </div>
	      <div class="col-md-4"> Large {{ item.LargePrice }} </div>
    </div> 
      {% endfor %}
    <h3>Subs</h3>
    <p> Extra Cheese on any item costs extra $0.50 </p>
      {% for item in Sub %}
    <div class = "row">
      
	      <div class="col-md-4"> <a href="{% url 'sub' order_id=order_id dish_id=item.id %}" > {{ item.name }} </a> </div>
	      {% if item.SmallPrice != None %}
	      <div class="col-md-4"> Small {{ item.SmallPrice }} </div>
	      {% endif %}
	      {% if item.LargePrice != None %}
	      <div class="col-md-4"> Large {{ item.LargePrice }} </div>
	      {% endif %}
    </div>  
      {% endfor %}
    <h3>Pasta</h3>
      {% for item in Pasta %}
      
    <div class = "row">
	      <div class="col-md-4"> <a href="{% url 'rest' order_id=order_id type_id=1 dish_id=item.id %}"> {{ item.name }} </a> </div>
	      <div class="col-md-4"> {{ item.SmallPrice }} </div>
    </div>  
      {% endfor %}
    <h3>Salads</h3>
      {% for item in Salad %}
    <div class = "row">
      
	      <div class="col-md-4"> <a href="{% url 'rest' order_id=order_id type_id=2 dish_id=item.id %}"> {{ item.name }} </a> </div>
	      <div class="col-md-4"> {{ item.SmallPrice }} </div>
    </div>  
      {% endfor %}
    <h3>Dinner Platter</h3>
      {% for item in DinnerPlatter %}
    <div class = "row">
       
	      <div class="col-md-4"> {{ item.name }} </div>
	      <div class="col-md-4"> <a href="{% url 'rest' order_id=order_id type_id=3 dish_id=item.id  %}"> Small </a> {{item.SmallPrice}} </div>
	      <div class="col-md-4"> <a href="{% url 'rest' order_id=order_id type_id=4 dish_id=item.id  %}"> Large </a> {{item.LargePrice}} </div>
    </div>  
      {% endfor %}

</div>
{% endblock %}
