{% extends "orders/base.html" %}

{% block body %}
{% if message %}
<p> {{ message }} </p>
{% endif %}
<ul>
    <h3>Sub</h3>
    <form action="{% url 'sub' order_id=order_id dish_id=dish_id %}" method="post">
        {% csrf_token %}
	<table>
		<tr> <td><input type="radio" name="size" value="Small"> Small</td>
			<td><input type="radio" name="size" value="Large"> Large</td></tr>
		<tr><td><input type='hidden' name="Xcheese" value='No'>
			<input type="checkbox" name="Xcheese" value="Yes">ExtraCheese</td></tr>
	</table>
        <input type="submit" value="Add"/>
    </form>
    <li>  Go Back  <a href="{% url 'index' order_id %}">  Index/Cart  </a></li>
</ul>
{% endblock %}
